requests
dynaconf
pydantic > 2.0
pydantic-settings
pydantic[email]
fastapi[all]==0.100.0
uvicorn[standard]

psutil # for monitor threads
motor # for mongo database connect
pandas # for forming the reports
openpyxl # for handling excel files
apscheduler # Scheduler tasks